
.table_header {
    background-color: rgb(243 244 246);
    letter-spacing: 0.5px; 
    font-size: x-small;
}

.table_row {
    background-color: rgb(243 244 246);
    letter-spacing: 0.3px; 
    font-size: xx-small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.analyz_header {
    letter-spacing: 1px; 
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

.analyz_show_data {
    letter-spacing: 0.5px; 
    font-size: medium;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.analyz_get_data {
    letter-spacing: 0.5px; 
    font-size: x-small;
    font-weight: bold;
}